/* ---------------------------------- Navbar ---------------------------------- */

.navbar {
    position: relative;
    display: flex;
    width: 1242px;
    margin-left: auto;
    margin-right: auto;
    height: 75px;
    z-index: 2;
}

.nav-links a {
    font-style: normal;
    font-family: 'Inter';
    text-decoration: none;
    color: rgb(54, 145, 250);
}

.nav-links a:hover {
    color: rgb(0, 88, 189);
    transition: 0.3s ease;
}


/* Navbar logo */

.logo {
    position: fixed;
    padding: 10px;
}


/* Navbar Content */

.menu {
    display: flex;
    padding: 6px;
    position: fixed;
    margin-left: 297px;
    margin-right: 260px;
    gap: 1em;
    font-size: 15px;
}

.menu li {
    padding: 5px 8px;
    list-style-type: none;
}

#nav_bar_rectangle {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 85px;
    width: 100%;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.755);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}


/* Navbar Buttons */

#btn-sign-up {
    position: fixed;
    background-color: #3A94FA;
    border: none;
    color: white;
    width: 120px;
    height: 38px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    margin-left: 981px;
    top: 19px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    font-style: normal;
    font-family: 'Inter';
    font-size: 14px;
}

#btn-sign-up:hover {
    transition: 0.1s;
    border-style: solid;
    border-width: 3px;
    border-color: #3A94FA;
    background-color: #1677d8;
}

#btn-log-in {
    position: fixed;
    background-color: #ffffff;
    border-style: solid;
    border-width: 3px;
    border-color: #3A94FA;
    color: #3A94FA;
    width: 120px;
    height: 38px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    margin-left: 1095px;
    top: 19px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    font-style: normal;
    font-family: 'Inter';
    font-size: 14px;
}

#btn-log-in:hover {
    transition: 0.1s;
    background-color: #eaf2fa;
}

/* ---------------------------------- Body ---------------------------------- */

h1{
margin-top: 100px;
font-family: Inter;
font-style: normal;
font-weight: bold;
font-size: 41.5px;
line-height: 50%;
/* or 50% */
text-align: center;
color: #454141;
}

h2{
    margin-left: 130px;
    margin-top: 85px;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 30.6px;
    line-height: 24px;
    /* or 67% */
    color: #454141;
    }

/* ---------------------------------- Registration ---------------------------------- */
    
.registration{
    margin: 0 auto;
    width: 90%;
}

#download{
    width: 40px;
    height: 40px;
}

#image1{
    margin-top: 30px;
    width: 80%;
    height: 80%;
}

.registration-image{
    margin: 0 auto;
    text-align: center;
    width: 90%;
}

.registration-text li {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 25.5px;
    line-height: 24px;
    color: #454141;
    margin-left: 120px;
}

.registration-logo{
    display: flex;
    margin-top: 55px;
    height: 100%;
}
.registration-logo img{
    margin-left: 12px;
}
.registration-logo li {
    margin-top: 5px;
}

.registration-text h3{
    margin-top: 40px;
    margin-left: 150px;
    font-family: Inter;
    font-style: normal;
    font-weight: 200;
    font-size: 21.25px;
    line-height: 24px;
    color: #454141; 
}

/* ---------------------------------- Invoicing ---------------------------------- */

.invoicing{
    margin: 0 auto;
    width: 90%;
}

#credit_card{
    width: 50px;
    height: 30px;
    margin-top: 5px;
}

#image2{
    margin-top: 30px;
    width: 80%;
    height: 80%;
}

.invoicing-image{
    margin: 0 auto;
    text-align: center;
    width: 90%;
}

.invoicing-text li {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 25.5px;
    line-height: 24px;
    color: #454141;
    margin-left: 120px;
}

.invoicing-logo{
    display: flex;
    margin-top: 55px;
    height: 100%;
}
.invoicing-logo img{
    margin-left: 12px;
}
.invoicing-logo li {
    margin-top: 5px;
}

.invoicing-text h3{
    margin-top: 40px;
    margin-left: 150px;
    font-family: Inter;
    font-style: normal;
    font-weight: 200;
    font-size: 21.25px;
    line-height: 24px;
    color: #454141; 
}

/* ---------------------------------- Rostering and Scheduling ---------------------------------- */
.rost-shed{
    display: flex;
    width: 90%;
    margin: 0 auto;
}

/* ---------------------------------- Rostering ---------------------------------- */

.rostering{
    width: 40%;
    margin-left: 130px;

}

#excel-table{
    width: 30px;
    height: 40px;

}

#image3{
    margin-top: 30px;
    width: 80%;
    height: 80%;
}

.rostering-image{
    margin: 0 auto;
    text-align: center;
    width: 90%;
}

.rostering-text li {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 25.5px;
    line-height: 24px;
    color: #454141;
    margin-left: 120px;
}

.rostering-logo{
    display: flex;
    margin-top: 55px;
    height: 100%;
}
.rostering-logo img{
    margin-left: 12px;
}
.rostering-logo li {
    margin-top: 5px;
}

.rostering-text h3{
    margin-top: 40px;
    margin-left: 150px;
    font-family: Inter;
    font-style: normal;
    font-weight: 200;
    font-size: 21.25px;
    line-height: 24px;
    color: #454141; 
}

/* ---------------------------------- Scheduling ---------------------------------- */

.scheduling{

    width: 40%;

}

#agenda{
    width: 50px;
    height: 45px;
    margin-top: 0px;
}

#image4{
    margin-top: 30px;
    width: 80%;
    height: 80%;
}

.scheduling-image{
    margin: 0 auto;
    text-align: center;
    width: 90%;
}

.scheduling-text li {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 25.5px;
    line-height: 24px;
    color: #454141;
    margin-left: 120px;
}

.scheduling-logo{
    display: flex;
    margin-top: 55px;
    height: 100%;
}
.scheduling-logo img{
    margin-left: 12px;
}
.scheduling-logo li {
    margin-top: 5px;

}

.scheduling-text h3{
    margin-top: 40px;
    margin-left: 150px;
    font-family: Inter;
    font-style: normal;
    font-weight: 200;
    font-size: 21.25px;
    line-height: 24px;
    color: #454141; 
}

/* ---------------------------------- Forum ---------------------------------- */

.forum{
    margin: 0 auto;
    width: 90%;

}

#image5{
    margin-top: 30px;
    width: 100%;
    height: 100%;
}

.forum-image{

    margin-left: 100px;
    width: 50%;
}

.forum-text li {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 25.5px;
    line-height: 24px;
    color: #454141;
    margin-left: 120px;
}

.forum-logo{
    display: flex;
    margin-top: 55px;
    height: 100%;
}
.forum-logo img{
    margin-left: 12px;
}
.forum-logo li {
    margin-top: 5px;
}

.forum-text h3{
    margin-top: 40px;
    margin-left: 150px;
    font-family: Inter;
    font-style: normal;
    font-weight: 200;
    font-size: 21.25px;
    line-height: 24px;
    color: #454141; 
}
.forum-button{
    width: 30%;
    margin-left: 35px;

}

.forum-button h3{
font-family: Inter;
font-style: normal;
font-weight: 200;
font-size: 25px;
line-height: 24px;
color: #454141;
}

#button1, #button2{
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 10px;
color: white;

background: #3A94FA;
border: 1px solid #FFFFFF;
box-sizing: border-box;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;

}

#button2{
    margin-top: 20px;
    width: 260px;
}

#button1{
    width: 210px;
}

.img-button{
    display: flex;

    width: 100%;
}

